<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container mw-75">
    <%- include("./partials/navbar") %>
    <form action="/user/signin" method="POST" class="mt-5">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <%- include('./partials/tail') %>
    </div>
  </body>
</html>
